body{
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
}

.main{
    background-color: white;
    padding: 10px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 2em;
}

.header{
    position: relative;
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.btn-on{
    font-size: 2em;
    font-weight: bold;

    background-color: black;
    color: white;
}

.btn-off{
    font-size: 2em;
    font-weight: bold;

    color: black;
    background-color: white;

    transition: color 0.5s, background-color 0.5s;
}

.btn-off:hover{
    background-color: black;
    color: white;
}

.soundtrack-title{
    position: absolute;
    bottom: 5px;
    left: 20px;
    padding: 10px;
}

.creators-actors-title{
    position: absolute;
    bottom: 5px;
    right: 20px;
    padding: 10px;
}

.header img{
    width: 100%;
}

.playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.playlist-song{
    padding: 10px;
    caret-color: #b5b6bb;
    border: none;
    width: 45%;
    height: 210px;
}

.authors-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.author{
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: black solid 2px;
}

.author-name{
    font-size: 1em;
}

.author-range{
    font-size: 0.6em;
}
