/*
URI – https://wiki.merionet.ru/images/vse-chto-vam-nuzhno-znat-pro-devops/1.png
URL - https://wiki.merionet.ru
URN - images/vse-chto-vam-nuzhno-znat-pro-devops/1.png
*/

/*Селектор потомка*/
article p{

}

/*Прямой дочерный селектор*/
article > p {

}

/*Общий родственный селектор*/
h2 ~ p {

}

/*Соседние селекторы*/
h2 + p {

}

/*Селекторы наличия атрибута*/
a[target] {
}

a[href="http://google.com/"] {

}

a[href*="login"] {

}

a[href^="https://"] {

}

a[href$=".pdf"] {

}

a[rel~="tag"] {

}

a[lang|="en"] {

}

/*Псевдоклассы*/
a:hover {

}

li:first-child {

}
li:last-child {

}

/*Псевдоэлементы*/
a:after {

}

a:before{

}